---
import PostLayout from "@layouts/Post.astro"
import type { Post } from "../../content/config"
import { initService } from "@logic/di"

export async function getStaticPaths() {
	const service = initService()
	const posts = await service.allSorted()
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}

const post: Post = Astro.props
const { Content } = await post.render()
---

<PostLayout post={post}>
	<Content />
</PostLayout>
