---
import RootLayout from "@layouts/Root.astro"
import { Prod } from "@logic/storage/ProdCollectionWrapper"
import { TaxonomyRepo } from "@logic/storage/TaxonomyRepo"
import TaxonomyList from "@components/TaxonomyList.astro"
import AboutContent from "@content/page/about_content.md"
import { site } from "src/consts"

const taxonomiesRepo = TaxonomyRepo.for(Prod.Collection())
const allCategories = await taxonomiesRepo.categoriesWithCount()
const allTags = (await taxonomiesRepo.tagsWithCount()).filter((taxonomy) => taxonomy.count > 1)
// TODO: Generate word cloud on the client (keep current behavior if JS is disabled)
---

<RootLayout title=`${site.title} - About` description="Blob about the author">
	<AboutContent />

	<br />
	<hr />

	<taxonomy-container>
		<taxonomy-section>
			<h2>Categories</h2>
			<TaxonomyList taxonomies={allCategories} taxon="categories" />
		</taxonomy-section>

		<taxonomy-section>
			<h2>Tags</h2>
			<TaxonomyList taxonomies={allTags} taxon="tags" />
		</taxonomy-section>
	</taxonomy-container>

	<br />
</RootLayout>

<style>
	taxonomy-container {
		display: flex;
		gap: 1rem;
	}

	taxonomy-section {
		flex: 1;
	}

	taxonomy-section h2 {
		text-align: center;
	}

	@media (max-width: 768px) {
		taxonomy-container {
			flex-direction: column;
		}

		taxonomy-item {
			align-items: center;
			justify-content: center;
		}
	}
</style>
