---
import FormattedDate from "@components/FormattedDate.astro"
import RootLayout from "@layouts/Root.astro"
import { initService } from "@logic/di"
import { site } from "src/consts"

const service = initService()
const postsByYear = await service.byYear()
---

<RootLayout title=`${site.title} - Archive` description="Non paginated list of all posts by year">
	{
		postsByYear.map(({ year, posts }) => (
			<div>
				<h2>{year}</h2>
				<ul>
					{posts.map((post) => (
						<li>
							<span>
								<a href={`/${post.collection}/${post.slug}/`}>{post.data.title}</a>
								<FormattedDate date={post.data.published} withYear={false} />
							</span>
							<hr />
						</li>
					))}
				</ul>
			</div>
		))
	}
</RootLayout>

<style>
	div {
		display: flex;
	}

	h2 {
		margin-top: 0;
	}

	ul {
		list-style-type: none;
		width: 100%;
		margin-right: 1rem;
	}

	a {
		text-decoration: none;
	}

	span {
		display: flex;
		justify-content: space-between;
	}
</style>
