:root {
	--black: #1b1b1b;
	--bg: #282828;
	--grey-dark: #45403d;
	--grey-light: #5a524c;
	--fg: #e2cca9;
	--red: #f2594b;
	--orange: #f28534;
	--yellow: #e9b143;
	--green: #b0b846;
	--aqua: #8bba7f;
	--blue: #80aa9e;
	--purple: #d3869b;
	--red-dark: #db4740;
	--green-dim: #3b4439;
	--red-dim: #4c3432;
	--blue-dim: #374141;
	--yellow-dim: #4f422e;

	/* --black as shadow */
	--shadow: 0 8px 16px rgba(27, 27, 27, 0.8);
	--border-radius: 8px;

	--line-height: 1.3;

	--max-padding: 4em;
	--min-padding: 1em;

}

@font-face {
	font-family: "jetbrains-mono";
	src: url("/fonts/jetbrains-mono.ttf");
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

body {
	margin: 0;
	padding: 0;
	color: var(--fg);
	background-color: var(--bg);

	min-height: 100vh;

	font-display: swap;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none;
	color: inherit;
}

h2 {
	/* simple.css adds margin-top: 3rem */
	/* split with padding for prettier sticky-headers */
	margin-top: 2rem;
	padding-top: 1rem;
}

a {
	color: var(--fg);
	transition: 0.2s ease;
}

a:hover {
	color: var(--blue);
}

table {
	width: 75vw;
	table-layout: fixed;
}

img {
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	display: block;
	margin: 0 auto;
}

blockquote {
	font-size: 1.2rem;
}

mark {
	background-color: var(--yellow);
	color: var(--bg);
}

hr {
	border: none;
	border-top: 1px solid var(--grey-light);
}

code,
kbd,
pre {
	font-family:
		JetBrains Mono,
		monospace;
	font-size: 0.9rem;
	padding: 0 4px;
	border-radius: calc(var(--border-radius) / 2);
	background-color: var(--grey-dark);
}

code,
pre {
	color: var(--fg);
}

input:focus {
	outline: none;
}

.expressive-code {
	margin: 1rem 0;
	max-width: 100vw;
	box-shadow: var(--shadow);
}
