body {
	--pagefind-ui-primary: var(--blue);
	--pagefind-ui-text: var(--fg);
	--pagefind-ui-background: var(--black);
	--pagefind-ui-border: var(--grey-dark);
	--pagefind-ui-border-width: 1px;
	--pagefind-ui-font: var(--sans-font);
}
