:root {
	--accent: var(--blue);
	--accent-hover: var(--grey-dark);
}

header>nav a,
header>nav a:visited,
article,
body>header,
body>footer,
section {
	/* border: none; for darkreader+simple.css */
	border: 0px solid var(--border);
	border-radius: 0;
}

article {
	padding-left: 0;
	padding-right: 0;
}

hr {
	background: none;
}

th,
td {
	border: 1px solid var(--grey-light);
}

a:visited {
	color: var(--aqua);
}

body>footer {
	padding-bottom: 0;
	grid-column: 1 / -1;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr min(55rem, 90%) 1fr;
}

body>header {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr min(55rem, 90%) 1fr;
	background: var(--black);
}

body>header> :only-child {
	margin-block-start: 0;
}

header>nav {
	padding: 0;
	display: grid;
	grid-column: 2;
}

header>nav a {
	margin: 0;
	padding: 0.1rem 0.4rem;
}

header>nav a:hover,
header>nav a:visited {
	color: var(--fg);
}

header>nav ul {
	align-items: flex-end;
	flex-wrap: nowrap;
	justify-content: space-between;
}
