---
import PostImage from "@components/PostPreview/PostImage.astro"
import Title from "@components/PostPreview/Title.astro"
import PostMetadata from "@components/PostMetadata/index.astro"
import type { Post } from "../../content/config"
import def_img from "../../assets/logo/white_transparent.svg"

interface Props {
	post: Post
}
const { post } = Astro.props

const path = `/blog/${post.slug}/`
const img = post.data.image || def_img
---

<post-preview>
	<PostImage href={path} img={img} title={post.data.title} />

	<preview-data>
		<Title href={path} title={post.data.title} />
		<PostMetadata post={post} />
		<p title={post.data.description}>{post.data.description}</p>
	</preview-data>
</post-preview>

<style>
	preview-data {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		min-height: 8rem;
		width: 100%;
	}

	p {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		margin-bottom: 0.5rem;
		margin-top: auto;
	}

	post-preview {
		display: flex;
		gap: 2rem;
		align-items: center;
	}

	post-preview:not(:first-child) {
		margin-top: 1.5rem;
	}

	post-preview:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	@media (max-width: 720px) {
		post-preview {
			gap: 1rem;
			width: 100%;
		}

		post-preview:not(:first-child) {
			margin-top: 0.8rem;
		}

		post-preview:not(:last-child) {
			margin-bottom: 0.8rem;
		}
	}
</style>
