---
import type { ImageMetadata } from "astro"
import { Picture } from "astro:assets"
interface Props {
	href: string
	img: ImageMetadata
	title: string
}
const { href, img, title } = Astro.props
---

<a href={href} title={title}>
	<Picture src={img} alt={title} formats={["webp"]} />
</a>

<style>
	a {
		--size: 7rem;
		width: var(--size);
		height: var(--size);
		min-width: var(--size);
	}

	img {
		object-fit: contain;
		width: 100%;
		height: 100%;
		box-shadow: none;
	}

	@media (max-width: 720px) {
		a {
			--size: 0;
		}
	}
</style>
