---
interface Props {
	href: string
	title: string
}
const { href, title } = Astro.props
---

<a href={href}>
	<h2>{title}</h2>
</a>

<style>
	h2 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		color: var(--green);
		margin: 0;
		font-size: 1.8rem;
	}

	a {
		text-decoration: none;
		display: inline-block;
	}

	a:hover h2 {
		color: var(--blue);
	}
</style>
