---
import RootLayout from "@layouts/Root.astro"
import { site } from "../consts"
---

<RootLayout title={site.title} description="Not Found">
	<h1>Oops!</h1>
	<p>You found... nothing</p>
</RootLayout>
