---
import { Icon } from "astro-icon/components"
import { site } from "../../consts"
---

<a href="/">
	<Icon title="logo" name="logo/white_transparent" />
	<p>{site.title}</p>
</a>

<style>
	p {
		margin: 0;
		display: flex;
		color: var(--fg);
		font-size: 1.5rem;
		font-family:
			JetBrains Mono,
			monospace;
		font-weight: 700;
		line-height: 1.1;
		margin-right: 1em;
	}

	a {
		align-self: flex-end;
		text-decoration: none;
		padding-left: 0;
		padding-bottom: var(--padding-bottom);
	}

	svg {
		display: none;
	}

	@media (max-width: 675px) {
		p {
			display: none;
		}

		a {
			margin-right: 1vw;
		}

		svg {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			min-width: 1.5em;
		}
	}

	@media (max-width: 330px) {
		svg {
			display: none;
		}

		a {
			position: absolute;
			margin: 0;
			padding: 0;
		}
	}
</style>
