---
import "./navbar.module.css"
import Dropdown from "@components/Navbar/Dropdown/index.astro"
import Link from "@components/Navbar/Link.astro"
import Home from "@components/Navbar/Home.astro"
import SearchButton from "@components/Navbar/SearchButton.astro"
import SearchBar from "@components/SearchBar.astro"
import { TaxonomyRepo } from "@logic/storage/TaxonomyRepo"
import { Prod } from "@logic/storage/ProdCollectionWrapper"
import { uiConfig } from "../../consts"

const searchBarId = uiConfig.searchBarId
const height = uiConfig.navbarHeight
const allSeries = await TaxonomyRepo.for(Prod.Collection()).sortedSeries()
---

<header>
	<nav>
		<Home />
		<ul>
			<Link href="/blog">Blog</Link>
			<Dropdown href="/blog/series" items={allSeries}> Series </Dropdown>
			<Link href="/blog/archive">Archive</Link>
			<Link href="/blog/about">About</Link>
			<SearchButton icon="magnifying_glass" searchBarId={searchBarId} />
		</ul>
	</nav>
</header>
<SearchBar id={searchBarId} />

<style define:vars={{ height }}></style>

<script>
	import { loadNavbarPeekabooEvent } from "@logic/view/Navbar.ts"
	loadNavbarPeekabooEvent()
</script>
