---
import { ActivePath } from "@logic/ActivePath"
interface Props {
	href: string
}

const { href } = Astro.props
const isActive = ActivePath.check(href || "", Astro.url.pathname)
---

<li>
	<a href={href} class:list={{ active: isActive }}>
		<slot />
	</a>
</li>

<style>
	a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		color: var(--fg);
		display: inline-block;
		padding-bottom: var(--padding-bottom);
	}

	a:hover {
		border-color: var(--red);
	}

	a.active {
		font-weight: bolder;
		border-bottom-color: var(--red);
	}
</style>
