header {
	position: sticky;
	top: 0;
	z-index: 1000;
	transition: top 0.1s;
}

header>nav {
	--padding-bottom: calc(var(--height) / 6);

	width: 100%;
	height: var(--height);
	line-height: 1;

	display: flex;
	justify-content: space-between;

	margin: 0 auto;
}

header>nav>ul {
	gap: 0.4rem;
	overflow-x: auto;
}

header>nav>ul a {
	width: fit-content;
	padding: 0 0.8rem;
}

@media (max-width: 675px) {
	header>nav>ul {
		gap: 0.1rem;
	}

	header>nav>ul a {
		padding: 0 0.6rem;
	}
}

@media (max-width: 330px) {
	header>nav {
		justify-content: center;
	}
}
