---
import { Icon } from "astro-icon/components"
interface Props {
	icon: string
	searchBarId: string
}

const { icon, searchBarId } = Astro.props
---

<li id="search-button">
	<search-button data-searchbarid={searchBarId}>
		<a>
			<Icon title={icon} name={icon} />
		</a>
	</search-button>
</li>

<style>
	a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		color: var(--fg);
		display: inline-block;
		padding-bottom: var(--padding-bottom);
	}

	svg {
		transform: translateY(10%);
		min-width: 1em;
	}

	a:hover {
		border-color: var(--red);
	}
</style>

<script>
	import { SearchButton } from "@logic/view/SearchButton.ts"
	customElements.define("search-button", SearchButton)
</script>
