---
import { site } from "../consts"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<head>
	<!-- Global Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href={site.favicon} />
	<meta name="generator" content={Astro.generator} />

	<!-- Font preloads -->
	<link rel="preload" href="/fonts/jetbrains-mono.ttf" as="font" type="font/ttf" crossorigin />

	<!-- Canonical URL -->
	<link rel="canonical" href={canonicalURL} />

	<!-- RSS autodiscovery -->
	<link rel="alternate" type="application/rss+xml" title={title} href={new URL("rss.xml", Astro.site)} />

	<!-- Primary Meta Tags -->
	<title>{title}</title>
	<meta name="title" content={title} />
	<meta name="description" content={description} />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={new URL(site.favicon, Astro.url)} />
	<meta property="og:image:alt" content={title} />
	<meta property="og:site_name" content={site.title} />
	<meta property="og:locale" content="en" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={Astro.url} />
	<meta property="twitter:title" content={title} />
	<meta property="twitter:description" content={description} />
	<meta property="twitter:image" content={new URL(site.favicon, Astro.url)} />
	<meta property="twitter:image:alt" content={title} />
	<meta property="twitter:site" content={site.title} />
	<meta property="twitter:creator" content={site.title} />

	<!-- PageFind -->
	<script is:inline defer src="/pagefind/pagefind-ui.js"></script>

	<!-- Tracking -->
	{
		!process.env.DEV && (
			<script
				is:inline
				defer
				src="https://umami.devintheshell.com/script.js"
				data-website-id="4b1b2bab-4227-4925-a364-fa7a0990ba69"
			/>
		)
	}
</head>
