---
import { Icon } from "astro-icon/components"
const { url, current } = Astro.props

const hasNext = url.next !== undefined
const hasPrev = url.prev !== undefined
const hasPages = hasNext || hasPrev
---

{
	hasPages && (
		<nav>
			{hasPrev && (
				<a href={url.prev}>
					<Icon title="left_arrow" name="left_arrow" />
				</a>
			)}
			{hasPrev && hasNext && <p>{current}</p>}
			{hasNext && (
				<a href={url.next}>
					<Icon title="right_arrow" name="right_arrow" />
				</a>
			)}
		</nav>
	)
}

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
	}

	a {
		text-decoration: none;
		color: var(--fg);
		padding: 0.3rem;
		border: 1.5px solid var(--grey-dark);
		border-radius: 4px;
	}

	a:hover {
		background-color: var(--grey-dark);
	}

	svg {
		width: 1.5rem;
		height: 1.5rem;
		display: block;
	}

	p {
		font-weight: bold;
		margin: 0 1.3rem;
	}
</style>
