---
import type { Post } from "../content/config"

type Props = {
	relatedPosts: Post[]
}
const { relatedPosts } = Astro.props
---

<related-posts>
	{
		relatedPosts.length > 0 && (
			<>
				<h4>Other posts you might like</h4>
				<ul>
					{relatedPosts.map((relatedPost) => (
						<li>
							<a href={`/${relatedPost.collection}/${relatedPost.slug}`}>{relatedPost.data.title}</a>
						</li>
					))}
				</ul>
			</>
		)
	}
</related-posts>

<style>
	related-posts {
		text-align: center;
	}

	h4 {
		color: var(--green);
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	a:hover {
		transition: 0.2s ease;
		color: var(--blue);
	}
</style>
