---
import "../styles/pagefind.css"
import Search from "astro-pagefind/components/Search"

interface Props {
	id: string
}

const { id } = Astro.props
// Link to css is here and not in HtmlHead to avoid Render Blocking
---

<search-bar id={id}>
	<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
	<Search uiOptions={{ showImages: false }} />
</search-bar>

<style>
	search-bar {
		margin-top: 1.5em;
		display: none;
	}
</style>
