---
import { Slugifier } from "@logic/Slugifier"
import type { TaxonomyWithCount } from "@logic/storage/TaxonomyRepo"

interface Props {
	taxonomies: TaxonomyWithCount[]
	taxon: string
}

const { taxonomies, taxon } = Astro.props
---

<div>
	{
		taxonomies.map((t) => (
			<a href={`/blog/${taxon}/${Slugifier.slugify(t.taxonomy)}/`}>
				{t.taxonomy} ({t.count})
			</a>
		))
	}
</div>

<style>
	div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
		gap: 0.4rem;
	}

	a {
		text-decoration: none;
		padding: 0.2rem 0.3rem 0;
		border: 1.5px solid var(--grey-dark);
		border-radius: 10px;
	}

	a:hover {
		background-color: var(--grey-dark);
	}
</style>
