---
import { Icon } from "astro-icon/components"
---

<p>
	<logo-container href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
		<Icon title="copyleft" name="footer/copyleft" width={120} height={42} />
	</logo-container>

	<br />
	This work is licensed under a
	<br />

	<a href="https://creativecommons.org/licenses/by-sa/4.0/">
		Creative Commons Attribution-ShareAlike 4.0 International License
	</a>
</p>

<style>
	p {
		font-size: 0.8rem;
	}

	logo-container {
		color: var(--black);
		width: 8rem;
		height: 2.6rem;
	}
</style>
