---
import Copyleft from "@components/Footer/Copyleft.astro"
import Link from "@components/Footer/Link.astro"
---

<footer>
	<ul>
		<Link href="mailto:ericdriussi@gmail.com" icon="email" />
		<Link href="https://gitlab.com/ericdriussi" icon="gitlab" />
		<Link href="https://github.com/EricDriussi" icon="github" />
		<Link href="https://www.linkedin.com/in/eric-driussi/" icon="linkedin" />
		<Link href="/rss.xml" icon="rss" />
	</ul>

	<Copyleft />
</footer>

<style>
	footer {
		background-color: var(--grey-dark);
		margin-top: 2rem;
	}

	ul {
		display: flex;
		justify-content: center;
		gap: 1em;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
</style>
