---
import { Icon } from "astro-icon/components"
const { href, icon } = Astro.props
---

<li>
	<a href={href} target="_blank">
		<Icon title={icon} name=`footer/${icon}` />
	</a>
</li>

<style>
	svg {
		width: 2rem;
		height: 2rem;
		display: block;
	}
</style>
