---
import PrettyDate from "@components/PostMetadata/PrettyDate.astro"
import TimeToRead from "@components/PostMetadata/TimeToRead.astro"
import Separator from "@components/PostMetadata/Separator.astro"
import type { Post } from "../../content/config"

interface Props {
	post: Post
}
const { post } = Astro.props
---

<post-metadata>
	{
		post.data.pinned && (
			<>
				<span title="Pinned post">📌</span>
				<Separator />
			</>
		)
	}

	{
		post.data.published && (
			<>
				<PrettyDate date={post.data.published} type="published" /> <Separator />
			</>
		)
	}

	{
		post.data.updated && (
			<>
				<PrettyDate date={post.data.updated} type="updated" /> <Separator />
			</>
		)
	}
	<TimeToRead content={post.body} />
</post-metadata>

<style>
	post-metadata {
		display: flex;
		margin: 0;
		font-size: 0.7rem;
		cursor: default;
	}
</style>
