---
import FormattedDate from "@components/FormattedDate.astro"
interface Props {
	date: Date
	type: "published" | "updated"
}
const { date, type } = Astro.props
const isUpdated = type === "updated"

const emoji = isUpdated ? "🔄" : "🗓️"
const title = isUpdated ? "Last updated" : "Publication date"
---

<span title={title}>
	{emoji}
	<i><FormattedDate date={date} withYear={true} /></i>
</span>
