---
interface Props {
	content: string
}
const { content } = Astro.props

const wordsInPost = content.split(/\s+/g).length || 1
const avgWordsPerMinute = 200
const estimatedReadingTime = Math.ceil(wordsInPost / avgWordsPerMinute)
---

<span title="Time to Read">
	⏳ <i>{estimatedReadingTime} min</i>
</span>
