---
import RootLayout from "@layouts/Root.astro"
import Pagination from "@components/Pagination.astro"
import PostPreview from "@components/PostPreview/index.astro"
import type { Post } from "../content/config"
import { site } from "../consts"

export type Page = {
	data: Post[]
	currentPage: number
	url: {
		prev: string
		next: string
	}
}

type Props =
	| {
			description: string
			page: Page
			posts?: never
	  }
	| {
			description: string
			page?: never
			posts: Post[]
	  }

const { description, page, posts } = Astro.props
---

<RootLayout title=`${site.title}` description={description}>
	<ul>
		{
			posts
				? posts.map((post, i) => (
						<li>
							<PostPreview post={post} />
							{i < posts.length - 1 && <hr />}
						</li>
					))
				: page.data.map((post) => (
						<li>
							<PostPreview post={post} />
							<hr />
						</li>
					))
		}
	</ul>
	{page && <Pagination url={page.url} current={page.currentPage} />}
</RootLayout>

<style>
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	hr {
		margin: 1.5rem 0;
	}
</style>
