---
import RootLayout from "@layouts/Root.astro"
import PostMetadata from "@components/PostMetadata/index.astro"
import RelatedPosts from "@components/RelatedPosts.astro"
import { initService } from "@logic/di"

const { post } = Astro.props
const service = initService()
const relatedPosts = await service.relatedTo(post, 5)
---

<RootLayout data-pagefind-body title=`${post.data.title}` description={post.data.description}>
	<post-header data-pagefind-body>
		<h1>{post.data.title}</h1>
		<PostMetadata post={post} />
	</post-header>

	<hr />
	<article data-pagefind-body>
		<slot />
	</article>
	<hr />

	<RelatedPosts relatedPosts={relatedPosts} />
</RootLayout>

<style>
	post-header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	h1 {
		color: var(--green);
		margin-bottom: 0.5rem;
	}
</style>

<script>
	import { loadStickyHeadersOnScrollEvent } from "@logic/view/StickyHeadings.ts"
	loadStickyHeadersOnScrollEvent()
</script>
