---
import "simpledotcss/simple.css"
import "../styles/un-simple.css"
import "../styles/global.css"
import HtmlHead from "@components/HtmlHead.astro"
import Navbar from "@components/Navbar/index.astro"
import Footer from "@components/Footer/Footer.astro"

import { site } from "../consts"
const { title, description } = Astro.props
---

<html lang={site.lang}>
	<HtmlHead title={title} description={description} />

	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
