.form {
	display: inline-block;
}

.form label>a {
	display: none;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	color: var(--fg);
	display: inline-block;
	padding-bottom: var(--padding-bottom);
}

.form label>a:hover {
	border-color: var(--red);
}

.form label>a.active {
	font-weight: bolder;
	border-bottom-color: var(--red);
	border-color: var(--red);
}

.dropdown label {
	cursor: pointer;
	color: var(--fg);
}

.dropdown ul {
	display: none;
	position: absolute;

	min-width: fit-content;

	background-color: var(--grey-dark);
	box-shadow: var(--shadow);
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	z-index: 1;
	/* Center align to label */
	transform: translateX(-20%);
}

.dropdown ul>li {
	display: block;
	text-align: center;
}

.dropdown li>a {
	display: block;
	text-decoration: none;
	padding: 0.6rem 1rem;
	color: var(--fg);
	width: inherit;
}

.dropdown hr {
	margin: 0;
	border-top-color: var(--bg);
}

.dropdown ul>li>a:hover {
	color: var(--fg);
	background-color: var(--grey-light);
}

.dropdown ul>li:last-child>a:hover {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.toggle {
	display: none;
}

/* Open drop-down on click */
.toggle:checked~ul,
/* Open drop-down on hover */
.form:hover ul {
	display: block;
}
