---
import styles from "./dropdown.module.css"
import { ActivePath } from "@logic/ActivePath"
interface Props {
	href: string
	items: string[]
}

const { href, items } = Astro.props
const isActive = ActivePath.check(href, Astro.url.pathname)

const isNotLast = (index: number, array: string[]) => index < array.length - 1
// The form prevents the checkbox from retaining state. It ensures the drop-down is always hidden by default
---

<li class={styles.dropdown}>
	<form class={styles.form} autocomplete="off">
		<input type="checkbox" id="toggle" class={styles.toggle} />
		<label for="toggle">
			<a class:list={{ [styles.active]: isActive }}>
				<slot />
			</a>
		</label>

		<ul>
			{
				items.map((item, index) => (
					<>
						<li>
							<a href={`${href}/${item}`}>{item}</a>
						</li>
						{isNotLast(index, items) && <hr />}
					</>
				))
			}
		</ul>
	</form>
</li>

<script>
	import { loadDropdownCloseOnClickEvent } from "@logic/view/Dropdown.ts"
	loadDropdownCloseOnClickEvent()
</script>
